<section class="product-summary">
    <section aria-label="Gallery" class="product-gallery">

        <div class="product-gallery-slides">

            <div class="product-gallery-carousel-controls">
                <button class="product-item-gallery-carousel-control product-gallery-prev" (click)="prevClick()">
                </button>
                <button class="product-item-gallery-carousel-control product-gallery-next" (click)="nextClick()">
                </button>
            </div>

            <div class="product-gallery-current-slide-indicator-wrapper">
                <div class="product-gallery-current-slide-indicator">{{imageIndex + 1}} / {{productImages.length}}</div>
            </div>

            <ng-template ngFor let-image let-i="index" [ngForOf]="productImages">
                <img class="product-gallery-slides-item-image" [ngClass]="i == imageIndex ? '' : 'loaded' "
                    [src]="image.image" alt="">

            </ng-template>
        </div>

        <div class="product-gallery-scroll">
            <div class="product-gallery-thumbnails">

                <ng-template ngFor let-image let-i="index" [ngForOf]="productImages">
                    
                    <button class="product-gallery-thumbnails-item loaded" (click)="imageClick(i)">
                        <img class="product-gallery-thumbnails-item-image"
                            style="width: 100%; height: 100%; object-position: 50% 50%;"
                            [src]="image.image" alt="">
                    </button>

                </ng-template>
            </div>
        </div>

    </section>

    <section class="product-details">
        <h1 class="product-details-title">
            The Original Book
        </h1>
        <div class="product-details-checkout">
            <div class="product-product-price">
                <div class="product-price">
                    <span class="money">45.00</span>
                </div>
            </div>

            <div class="product-details-excerpt">
                <p class=""></p>
                <p class="" style="white-space:pre-wrap;"><em>by Kevin Matsuya</em></p>
                <p class="" style="white-space:pre-wrap;">This is a first edition book about design from an
                    award-winning author. It was on several Best of the Year lists.</p>
                <p class="" style="white-space:pre-wrap;">-</p>
                <p class="" style="white-space:pre-wrap;"><strong>Publication Date: </strong>March 3,
                    2020<br><strong>Book Size: </strong>8 x 11<strong><br>Format:
                    </strong>Hardcover<strong><br>ISBN:
                    </strong>000-0-0000-0000-0<br><br><em>*Ships within 2-4 business days</em></p>
            </div>
            <div class="product-quantity-input">
                <div class="quantity-label">Quantity:</div>
                <input aria-label="Quantity" size="4" max="9999" min="1" value="1" type="number" step="1">
            </div>

            <div class="button-primary">
                <div class="button-primary-inner">Add To Cart</div>
            </div>
        </div>
    </section>

</section>

<section class="product-related">
    <app-shop-product-related></app-shop-product-related>
</section>