.product-details-title, .product-product-price {
    font-size: 2rem;
    margin: 1rem 0;
}

.product-gallery-scroll {
    display: none;
}

.product-gallery-slides {
    width: 100%;
    position: relative;
}

.product-gallery-carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.product-item-gallery-carousel-control {
    border: none;
    background-color: transparent;
    cursor: pointer;
    pointer-events: auto;
}

.product-gallery-current-slide-indicator-wrapper {
    margin: 0.5rem;
    position: absolute;
    right: 0;
}

.product-gallery-current-slide-indicator {
    color: var(--grey);
    font-size: 0.8rem;
    padding: 0.5rem;
}

.product-item-gallery-carousel-control::after {
    display: block;
    content: '';
    width: 1.5vw;
    height: 1.5vw;
    border-style: solid;
    border-color: var(--grey);
    transform: rotate(45deg);
    border-width: 1px 1px 0 0;
    margin: calc(( calc(1.5vw + 20px) - 1.5vw ) / 2);
}

.product-gallery-prev::after {
    transform: rotate(225deg);
}

.product-gallery-next::after {
    transform: rotate(45deg);
}

.product-gallery-slides-item-image {
    max-width: 100%;
    height: 100%;
    object-position: 50% 50%;
    object-fit: cover;
    opacity: 1;
    animation-name: imageEnter;
    animation-duration: 2s;
}

/* @keyframes imageEnter {
    0%   {left:0px; top:0px;}
    25%  {left: 100px; top:0px;}
    50%  {left:200px; top:100px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
} */

.product-gallery-slides-item-image.not-loaded {
    display: none;
    opacity: 0;
    transition: 0.2s ease-in-out;
}


button {
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.product-gallery-thumbnails {
    display: flex;
    gap: 0.4rem
}

.product-gallery-thumbnails-item{
    width: 33%;
}

@media (min-width: 765px) {
    .product-gallery-scroll {
        display: inline;
        width: 50%;
        margin-top: 1rem;
    }
    .product-summary {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    .product-gallery {
        display: flex;
        flex-direction: column;
    }

    .product-gallery, .product-details {
        width: 50%;
    }

}