<section class="product-summary">
    <section aria-label="Gallery" class="product-gallery">

        <!-- <div class="product-gallery-scroll">
            <div aria-label="Gallery thumbnails" class="product-gallery-thumbnails" data-animation-role="image"
                role="group">


                <button class="product-gallery-thumbnails-item loaded" aria-label="Image 1 of 3"
                    data-product-gallery="thumbnails-item" data-slide-transition="0" aria-current="true">
                    <img class="product-gallery-thumbnails-item-image" data-load="false"
                        data-src="https://images.squarespace-cdn.com/content/v1/624b503a204884599f31416a/1649102914874-6YLWE3UUH9U8RK1UD78Z/The-Original-Book_3.jpg"
                        data-image="https://images.squarespace-cdn.com/content/v1/624b503a204884599f31416a/1649102914874-6YLWE3UUH9U8RK1UD78Z/The-Original-Book_3.jpg"
                        data-image-dimensions="1500x1500" data-image-focal-point="0.5,0.5" alt="The-Original-Book_3.jpg"
                        style="width: 100%; height: 100%; object-position: 50% 50%; object-fit: cover;"
                        data-parent-ratio="1.0" data-image-resolution="100w"
                        src="https://images.squarespace-cdn.com/content/v1/624b503a204884599f31416a/1649102914874-6YLWE3UUH9U8RK1UD78Z/The-Original-Book_3.jpg?format=100w">
                </button>

                <button class="product-gallery-thumbnails-item loaded" aria-label="Image 2 of 3"
                    data-product-gallery="thumbnails-item" data-slide-transition="1" aria-current="false">
                    <img class="product-gallery-thumbnails-item-image" data-load="false"
                        data-src="https://images.squarespace-cdn.com/content/v1/624b503a204884599f31416a/1649102914881-QCG5UCYLM7CHTD3HYBZT/The-Original-Book_1.jpg"
                        data-image="https://images.squarespace-cdn.com/content/v1/624b503a204884599f31416a/1649102914881-QCG5UCYLM7CHTD3HYBZT/The-Original-Book_1.jpg"
                        data-image-dimensions="1500x1500" data-image-focal-point="0.5,0.5" alt="The-Original-Book_1.jpg"
                        style="width: 100%; height: 100%; object-position: 50% 50%; object-fit: cover;"
                        data-parent-ratio="1.0" data-image-resolution="100w"
                        src="https://images.squarespace-cdn.com/content/v1/624b503a204884599f31416a/1649102914881-QCG5UCYLM7CHTD3HYBZT/The-Original-Book_1.jpg?format=100w">
                </button>

                <button class="product-gallery-thumbnails-item loaded" aria-label="Image 3 of 3"
                    data-product-gallery="thumbnails-item" data-slide-transition="2" aria-current="false">
                    <img class="product-gallery-thumbnails-item-image" data-load="false"
                        data-src="https://images.squarespace-cdn.com/content/v1/624b503a204884599f31416a/1649102914888-9IW6JRY457QTCEIVRC8R/The-Original-Book_2.jpg"
                        data-image="https://images.squarespace-cdn.com/content/v1/624b503a204884599f31416a/1649102914888-9IW6JRY457QTCEIVRC8R/The-Original-Book_2.jpg"
                        data-image-dimensions="1500x1500" data-image-focal-point="0.5,0.5" alt="The-Original-Book_2.jpg"
                        style="width: 100%; height: 100%; object-position: 50% 50%; object-fit: cover;"
                        data-parent-ratio="1.0" data-image-resolution="100w"
                        src="https://images.squarespace-cdn.com/content/v1/624b503a204884599f31416a/1649102914888-9IW6JRY457QTCEIVRC8R/The-Original-Book_2.jpg?format=100w">
                </button>

            </div>
        </div> -->


        <div class="product-gallery-slides">

            <!-- <div class="product-gallery-carousel-controls">
                <button class="product-item-gallery-carousel-control product-gallery-prev">
                </button>
                <button class="product-item-gallery-carousel-control product-gallery-next">
                </button>
            </div> -->

            <!-- <div class="product-gallery-current-slide-indicator enable-on-first-image-load enabled">1 / 3</div> -->

            <div class="product-gallery-slides-item">
                <img class="product-gallery-slides-item-image"
                    src="https://images.squarespace-cdn.com/content/v1/624b503a204884599f31416a/1649102914874-6YLWE3UUH9U8RK1UD78Z/The-Original-Book_3.jpg?format=1500w">
                <span id="product-gallery-slides-item-1-index-624b5042204884599f31436c" style="display: none;">
                    Image 1 of 3
                </span>
            </div>

            <div class="product-gallery-slides-item loaded">
                <img class="product-gallery-slides-item-image"
                    src="https://images.squarespace-cdn.com/content/v1/624b503a204884599f31416a/1649102914881-QCG5UCYLM7CHTD3HYBZT/The-Original-Book_1.jpg?format=1500w">
                <span id="product-gallery-slides-item-2-index-624b5042204884599f314370" style="display: none;">
                    Image 2 of 3
                </span>
            </div>

            <div class="product-gallery-slides-item loaded">
                <img class="product-gallery-slides-item-image"
                    src="https://images.squarespace-cdn.com/content/v1/624b503a204884599f31416a/1649102914888-9IW6JRY457QTCEIVRC8R/The-Original-Book_2.jpg?format=1500w">
                <span id="product-gallery-slides-item-3-index-624b5042204884599f314373" style="display: none;">
                    Image 3 of 3
                </span>
            </div>
            <!-- <ng-image-slider [images]="imageObject" [animationSpeed]='0.5'
                [imageSize]="{ width: '100%', height: '500px', space: 0}" [slideImage]="1" [infinite]=true
                [manageImageRatio]=true [imagePopup]=false></ng-image-slider> -->
        </div>

    </section>

    <section class="product-details">
        <h1 class="product-details-title">
            The Original Book
        </h1>
        <div class="product-details-checkout">
            <div class="product-product-price">
                <div class="product-price">
                    <span class="sqs-money-native">45.00</span>
                </div>
            </div>

            <div class="product-details-excerpt">
                <p class=""></p>
                <p class="" style="white-space:pre-wrap;"><em>by Kevin Matsuya</em></p>
                <p class="" style="white-space:pre-wrap;">This is a first edition book about design from an
                    award-winning author. It was on several Best of the Year lists.</p>
                <p class="" style="white-space:pre-wrap;">-</p>
                <p class="" style="white-space:pre-wrap;"><strong>Publication Date: </strong>March 3,
                    2020<br><strong>Book Size: </strong>8 x 11<strong><br>Format:
                    </strong>Hardcover<strong><br>ISBN:
                    </strong>000-0-0000-0000-0<br><br><em>*Ships within 2-4 business days</em></p>
            </div>
            <div class="product-quantity-input">
                <div class="quantity-label">Quantity:</div>
                <input aria-label="Quantity" size="4" max="9999" min="1" value="1" type="number" step="1">
            </div>

            <div class="button-primary">
                <div class="button-primary-inner">Add To Cart</div>
            </div>
        </div>
    </section>

</section>