<div class="cart-notification" [ngClass]="itemAdded ? 'active' : ''">
    <span>Item added to cart!</span>
    <button class="danger" id="remove-from-cart" (click)="removeFromCartPopUp()">
        <span>Remove</span>
    </button>
</div>
<section class="product-summary" data-aos="fade-in" data-aos-duration="700">
    <section aria-label="Gallery" class="product-gallery">

        <div class="product-gallery-slides">

            <div class="product-gallery-carousel-controls">
                <button class="product-item-gallery-carousel-control product-gallery-prev" (click)="prevClick()">
                </button>
                <button class="product-item-gallery-carousel-control product-gallery-next" (click)="nextClick()">
                </button>
            </div>

            <div class="product-gallery-current-slide-indicator-wrapper">
                <div class="product-gallery-current-slide-indicator">{{imageIndex + 1}} / {{productImages.length}}</div>
            </div>

            <ng-template ngFor let-image let-i="index" [ngForOf]="productImages">
                <img class="product-gallery-slides-item-image"
                    [ngClass]="{'': i == imageIndex, 'not-loaded': i != imageIndex}" [src]="image" alt="">

            </ng-template>
        </div>

        <div class="product-gallery-scroll">
            <div class="product-gallery-thumbnails">

                <ng-template ngFor let-image let-i="index" [ngForOf]="productImages">

                    <button class="product-gallery-thumbnails-item not-loaded images clean" (click)="imageClick(i)">
                        <img class="product-gallery-thumbnails-item-image"
                            style="width: 100%; height: 100%; object-position: 50% 50%;" [src]="image" alt="">
                    </button>

                </ng-template>
            </div>
        </div>

    </section>

    <section class="product-details">
        <h1 class="product-details-title" #bookName>
            {{product.name}}
        </h1>
        <div class="product-details-checkout">
            <div class="product-product-price">
                <div class="product-price">
                    <span class="money">{{product.price}}</span>
                </div>
            </div> 

            <div class="product-quantity-input">
                <div class="quantity-label">Quantity:</div>
                <input aria-label="Quantity" #quantity size="4" max="9999" min="1" value="1" type="number" step="1">
            </div>

            <button class="accept" (click)="addToCart(quantity.value, product)">
                <span>Add To Cart</span>
            </button>

            <div class="product-details-excerpt">
                <p class=""></p>
                <p class="" style="white-space:pre-wrap;">by {{product.artist}}</p>
                <p class="" style="white-space:pre-wrap;">{{product.description}}</p>
                <p class="" style="white-space:pre-wrap;">-</p>
                <p class="" style="white-space:pre-wrap;"><strong>Publication Date:
                    </strong>{{product.date}}<br><strong>Type: </strong>{{product.type}}<strong><br>Genre:
                    </strong>{{product.genre}}<strong><br>Label:
                    </strong>{{product.label}}<br><br><em>*Ships within 2-4 business days</em></p>
            </div>

        </div>
    </section>

</section>

<section class="product-related">
    <app-shop-product-related></app-shop-product-related>
</section>