<section>
    <h1 class="raleted-title">
        Related
    </h1>

    <div class="list-grid" data-aos="fade-down" data-aos-duration="1000">
        <div class="grid-item" routerLink="/shop/p/{{product.id}}" *ngFor="let product of relatedProducts">
            <div class="grid-image-wrapper">
                <img class="grid-image-cover" [src]="product.firstImage">
                <img class="grid-image" [src]="product.secondImage">
            </div>
            <section class="grid-meta-wrapper">
                <div class="grid-main-meta">
                    <div class="product-title">{{product.name}}</div>
                    <div class="product-price">
                        <span class="money">{{product.price}}</span>
                    </div>
                </div>
                <div class="grid-meta-status">
                </div>
            </section>
        </div>
    </div>
</section>