<section class="content">
    <section class="shop-wrapper">
        <ul class="shop-nav-list">

            <li class="shop-nav-list-item" routerLinkActive="shop-nav-active" data-aos="zoom-in" data-aos-duration="200"
                data-aos-delay="300">
                <a routerLink="/shop" class="shop-nav-link">All</a>
            </li>

            <li class="shop-nav-list-item" routerLinkActive="shop-nav-active" data-aos="zoom-in" data-aos-duration="300"
                data-aos-delay="300">
                <a routerLink="/shop/staff-picks" class="shop-nav-link">Staff Picks</a>
            </li>

            <li class="shop-nav-list-item" routerLinkActive="shop-nav-active" data-aos="zoom-in" data-aos-duration="400"
                data-aos-delay="300">
                <a routerLink="/shop/books" class="shop-nav-link">Books</a>
            </li>

            <li class="shop-nav-list-item" routerLinkActive="shop-nav-active" data-aos="zoom-in" data-aos-duration="500"
                data-aos-delay="300">
                <a routerLink="/shop/magazines" class="shop-nav-link">Magazines</a>
            </li>

            <li class="shop-nav-list-item" routerLinkActive="shop-nav-active" data-aos="zoom-in" data-aos-duration="600"
                data-aos-delay="300">
                <a routerLink="/shop/accessories" class="shop-nav-link">Accessories</a>
            </li>

            <li class="shop-nav-list-item" routerLinkActive="shop-nav-active" data-aos="zoom-in" data-aos-duration="700"
                data-aos-delay="300">
                <a routerLink="/shop/sale" class="shop-nav-link">Sale</a>
            </li>

        </ul>
        <div class="shop-nav-mobile">
            <ul class="shop-nav-mobile-list">
                <li class="category-item" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="300">
                    <a routerLink="/shop/staff-picks" class="category-link root">Staff Picks</a>
                    <span class="breadcrumb-separator" aria-hidden="true">|</span>
                </li>
                <li class="category-item" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300">
                    <a routerLink="/shop/books" class="category-link root">Books</a>
                    <span class="breadcrumb-separator" aria-hidden="true">|</span>
                </li>
                <li class="category-item" data-aos="zoom-in" data-aos-duration="400" data-aos-delay="300">
                    <a routerLink="/shop/magazines" class="category-link root">Magazines</a>
                    <span class="breadcrumb-separator" aria-hidden="true">|</span>
                </li>

                <li class="category-item" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="300">
                    <a routerLink="/shop/accessories" class="category-link root">Accessories</a>
                    <span class="breadcrumb-separator" aria-hidden="true">|</span>
                </li>
                <li class="category-item" data-aos="zoom-in" data-aos-duration="600" data-aos-delay="300">
                    <a routerLink="/shop/sale" class="category-link root">Sale</a>
                </li>
            </ul>
        </div>
        <div class="products-flex-container">
            <div class="list-grid">
                <app-shop-product *ngFor="let album of albumArray" [album]="album" data-aos="zoom-in"
                    data-aos-duration="700"></app-shop-product>
            </div>
        </div>
    </section>
</section>