.button-primary {
    cursor: pointer;
}

.button-primary-inner {
    padding: 1rem;
    border: solid 1px black;
    text-align: center;
    border-radius: 2rem;
    transition: 0.2s ease-in-out;
}

.button-primary-inner:hover {
    color: white;
    background-color: black;
}


button {
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
    padding: 1rem;
    border: solid 1px black;
    text-align: center;
    border-radius: 2rem;
    transition: 0.2s ease-in-out;
    background-color: white;
    color: black;
}

button:hover {
    color: black;
    background-color: white;
    border-color:black;
}

button.danger:hover {
    color: white;
    background-color: red;
    border-color:red;
}

button.accept:hover {
    color: white;
    background-color: green;
    border-color:green;
}

button.finish:hover {
    color: white;
    background-color: darkorange;
    border-color:darkorange;
}

button.images {
    border: none;
    background-color: none;
}