@import url('https://fonts.googleapis.com/css2?family=Nunito');

a{
    font-family: Nunito;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

div {
    font-family: Nunito;
}

em {
    font-style: italic
}

strong {
    font-weight: bold;
}

p {
    margin-bottom: 1.2rem;
    line-height: 1.5;
}

h1 {
    font-size: 2.5rem;
}