@import url('assets/reset.css');
@import url('assets/typography.css');
@import url('assets/buttons.css');
@import url('assets/forms.css');


:root {
    --white: white;
    --side-padding: 2rem;
    --grey: #878787;
}

.money::before {
    content: '$';
}

body {
    min-height: 100vh;
}