<h1 class="cart-title">
    Shopping cart
</h1>

<section class="cart-container">

    <div class="DJPsJwNgM4FbYiHgSwkP cart-row">
        <div class="W54ITJyWSfqfjDUzGhdC cart-row-img-wrapper">
            <div class="diNqYjqGaOz0DdGib7Fu cart-row-img"
                style="background-image: url('https://images.squarespace-cdn.com/content/v1/624b503a204884599f31416a/1649102914874-6YLWE3UUH9U8RK1UD78Z/The-Original-Book_3.jpg');">
            </div>
        </div>
        <div class="PMrrwpo4nScIXIX7UlRc cart-row-desc"><a aria-label="The Original Book"
                class="_nNnRZGNjvGl9160s5H2 cart-row-title css-b3eyut" href="/shop/p/the-original-book">The Original
                Book</a>
            <div class="_3vu_Z06PFUioEWvrIgB cart-row-variants">
                <p aria-label="Size variant for The Original Book" class="cart-row-variant css-vtx1a6">Size: 0</p>
            </div>
        </div>
        <div class="RBMmT4Yc_zn0gM4kO77G cart-row-qty">
            <div class="Htoy539gMREVscrwOLfK"><button>
                </button>
                <button>
                    <span>

                    </span>
                </button>
            </div>
        </div>
        <p>
            <span class="money">45.00</span>
        </p>
        <div>
            <button class="danger">
                <div class="">
                    <div class="x-line top"></div>
                    <div class="x-line bottom"></div>
                </div>
            </button>
        </div>
    </div>

</section>