<header class="header-main">
    <div class="header-nav item">
        <div class="header-nav-wrapper">
            <nav class="header-nav-list">
                <div class="header-nav-item" routerLinkActive="header-nav-item header-nav-item-active" data-aos="zoom-in" data-aos-duration="300"
                data-aos-delay="300">
                    <a routerLink="/shop">
                        Shop
                    </a>
                </div>
                <div class="header-nav-item" routerLinkActive="header-nav-item header-nav-item-active" data-aos="zoom-in" data-aos-duration="300"
                data-aos-delay="400">
                    <a routerLink="/about">
                        About
                    </a>
                </div>
                <div class="header-nav-item" routerLinkActive="header-nav-item header-nav-item-active" data-aos="zoom-in" data-aos-duration="300"
                data-aos-delay="500">
                    <a routerLink="/contact">
                        Contact
                    </a>
                </div>
            </nav>
        </div>
    </div>
    <div class="header-title-text item" data-aos="zoom-in" data-aos-duration="300"
    data-aos-delay="600">
        <a id="site-title" routerLink="/home">Sinewave</a>
    </div>
    <div class="header-actions item">
        <div class="header-socials" data-aos="zoom-in" data-aos-duration="300"
        data-aos-delay="700">
            <fa-icon [icon]="instagram"></fa-icon>
            <fa-icon [icon]="twitter"></fa-icon>
        </div>
        <div routerLink="/cart" class="header-actions-action" data-aos="zoom-in" data-aos-duration="300"
        data-aos-delay="800">
            <div class="cart-wrapper">
                <span class="cart-items-count">{{cartCount}}</span>
                <fa-icon [icon]="cart"></fa-icon>
            </div>
        </div>
        <div class="header-actions-action bars" (click)="onBarsClick()" data-aos="zoom-in" data-aos-duration="300"
        data-aos-delay="900">
            <div class="burger-box">
                <div class="burger-line top" [ngClass]="navIsVisible ? 'active' : ''" ></div>
                <div class="burger-line bottom" [ngClass]="navIsVisible ? 'active' : ''" ></div>
            </div>
        </div>
    </div>
</header>


<div [ngClass]="navIsVisible ? 'visible' : ''" class="header-nav-mobile">
    <div class="header-nav-mobile-wrapper">
        <nav class="header-nav-mobile-list">
            <div class="header-nav-mobile-item" routerLinkActive="header-mobile-nav-item-active" (click)="closeMenuOnSelect()">
                <a routerLink="/shop">
                    Shop
                </a>
            </div>
            <div class="header-nav-mobile-item" routerLinkActive="header-mobile-nav-item-active" (click)="closeMenuOnSelect()">
                <a routerLink="/about">
                    About
                </a>
            </div>
            <div class="header-nav-mobile-item" routerLinkActive="header-mobile-nav-item-active" (click)="closeMenuOnSelect()">
                <a routerLink="/contact">
                    Contact
                </a>
            </div>
        </nav>
        <div class="header-mobile-socials">
            <fa-icon [icon]="instagram"></fa-icon>
            <fa-icon [icon]="twitter"></fa-icon>
        </div>
    </div>
</div>