<div class="grid-item" routerLink="p/{{album.id}}">
    <a class="grid-item-link"></a>


    <div class="grid-image-wrapper">

        <img class="grid-item-image grid-image-cover" [src]="album.firstImage">

        <img class="grid-item-image grid-image-hover" [src]="album.secondImage">
    </div>
    <section class="grid-meta-wrapper">
        <div class="grid-main-meta">

            <div class="grid-title" data-test="plp-grid-title">
                <h2>{{album.name}}</h2>
            </div>
            <div class="grid-subtitle">
                <p>{{album.artist}}</p>
            </div>
            <div class="product-price">
                <span class="money">{{album.price}}</span>
            </div>
        </div>
    </section>
</div>