<div
    class="grid-item hentry author-daniel-merchant post-type-store-item article-index-2 sqs-product-quick-view-button-hover-area is-loaded">
    <a href="/shop/p/untitled-no37" aria-label="Untitled No.37" class="grid-item-link"></a>


    <div class="grid-image-wrapper">

        <img data-src="https://images.squarespace-cdn.com/content/v1/624b503a204884599f31416a/1649102914266-WP0BDOWKBRLC1ENBN43B/Untiltled-No.37_1.jpg"
            data-image="https://images.squarespace-cdn.com/content/v1/624b503a204884599f31416a/1649102914266-WP0BDOWKBRLC1ENBN43B/Untiltled-No.37_1.jpg"
            data-image-dimensions="1500x1500" data-image-focal-point="0.5,0.5" alt="Untitled No.37" data-load="false"
            class="grid-item-image grid-image-cover" data-parent-ratio="1.0" data-image-resolution="1000w"
            src="https://images.squarespace-cdn.com/content/v1/624b503a204884599f31416a/1649102914266-WP0BDOWKBRLC1ENBN43B/Untiltled-No.37_1.jpg?format=1000w">



        <img alt="Untitled-No.37_t.jpg" class="grid-item-image
          grid-image-hover"
            src="https://images.squarespace-cdn.com/content/v1/624b503a204884599f31416a/1649102914253-L5IADFRRFPSI97CYMBUC/Untitled-No.37_t.jpg?format=1000w">
    </div>
    <section class="grid-meta-wrapper">
        <div class="grid-main-meta">

            <div class="grid-title" data-test="plp-grid-title">
                Untitled No.37
            </div>
            <div class="grid-prices" data-test="plp-grid-prices">
                <div class="product-price">
                    <span class="sqs-money-native">50.00</span>
                </div>
            </div>
        </div>
    </section>
</div>