<div class="about-wrapper" data-aos="fade-in" data-aos-duration="700">
    <h1 class="about-text">It all started with our first storefront in Richmond, Virginia. The small space focused on
        our passion for
        photography, with books, magazines and weekly talks.

    </h1>
    <h1 class="about-text">We then quickly expanded to seven stores throughout the U.S. We now focus on books and
        magazines in a
        variety of
        creative fields including art, design and of course, photography.</h1>
</div>