<footer class="sections">
    <div class="content">
        <div class="footer-top">
            <p>Sinewave</p>
            <p>123 Demo Street, New York
                City<br>email@example.com<br>(555) 555-5555</p>
        </div>
        <div class="nav-lists">
            <ul class="nav-list">
                <li class="list-item"><a routerLink="/shop">Shop</a></li>
                <li class="list-item"><a routerLink="/about">About</a></li>
                <li class="list-item"><a routerLink="/contact">Contact</a></li>
                <li class="list-item"><a routerLink="/faqs">FAQs</a></li>
                <li class="list-item"><a routerLink="/legal-shipping">Legal</a></li>
            </ul>
            <ul class="nav-list">
                <li class="list-item"><a href="https://instagram.com/squarespace">Instagram</a></li>
                <li class="list-item"><a href="https://facebook.com/squarespace">Facebook</a> </li>
                <li class="list-item"><a href="https://twitter.com/squarespace">Twitter</a></li>
            </ul>
        </div>
        <div class="fe-block">
            <div class="sqs-block newsletter-block">
                <div class="sqs-block-content">
                    <div class="newsletter-form-wrapper">
                        <form class="newsletter-form">
                            <header class="newsletter-form-header">
                                <h2 class="newsletter-form-header-title">Subscribe Newsletter</h2>
                            </header>
                            <div class="newsletter-form-body">
                                <input id="email-yui_3_17_2_1_1596486759950_43257-field"
                                    class="newsletter-form-field-element field-element" name="email"
                                    x-autocompletetype="email" autocomplete="email" type="email" spellcheck="false"
                                    placeholder="Email Address">
                                <button type="submit" value="Sign Up">
                                    <span class="newsletter-form-button-label">Sign Up</span>
                                </button>
                            </div>
                            <div class="newsletter-form-footnote">
                                <p class=""></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>